body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #f3e9dc;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #4e148c;
}

.user-card {
  background-color: #f7d6e0;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.user-card:hover {
  transform: scale(1.03);
}

.user-card h2 {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #4e148c;
}

.user-card p {
  color: #2c0735;
}
